/* stPrLiCo = studentProjectLibraryContent */
/* .stPrLiCo {
  margin-right: 300px;
} */

.stPrLiCoTitle {
  text-transform: uppercase;
  margin-left: 20px;
}

.stPrLiCoMain {
  display: flex;
  justify-content: center;
}

.stPrLiCoSquareContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px 50px;
  justify-content: start;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.stPrLiCoSquareContainer div {
  flex: 1 1 160px;
  aspect-ratio: 5;
  border-radius: 20px;
  opacity: 1;
  border-radius: 25px;
  background: none;
  top: 300px;
  left: 450px;
  width: 300px;
  height: 300px;
  transform: translateX(-5%);
  text-align: center;
  letter-spacing: 3px;
  font-weight: 500;
}

.stPrLiCoShowFilterBars {
  text-transform: uppercase;
  margin-right: 10px;
}

.stPrLiCoTopBars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stPrLiCoShowFilterBars {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.stPrLiCoShowFilterBars p {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

/* .stPrLiCoDifficultyFilterBars {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

/* .stPrLiCoDifficultyFilterBars {
  background-color: #f6eff3;
  border: none;
  text-align: center;
  color: #767676;
  /* font-size: 20px;
  transition: 0.3s;
  border-radius: 3px; 
}*/

.stPrLiCoIntermediate {
  border-right-style: solid;
  border-left-style: solid;
}
